<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
	<servlet>
		<servlet-name>SpringController</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
				org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>

				pe.gob.mef.config.WebConfig
				pe.gob.mef.config.RootConfig

			</param-value>
		</init-param>
	</servlet>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>




	<servlet-mapping>
		<servlet-name>
			SpringController
		</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>